fastapi
sqlalchemy
pydantic
uvicorn
databases
python-dotenv
psycopg2-binary
#scikit-surprise
pandas
#numpy  # Ensure the latest version is compatible
#cython
lightfm
#tensorflow
tensorflow-recommenders
#alembic
#pystan==2.19.1.1  # Correct version for prophet
#prophet  # Keep this for time-series forecasting
